.context-menu {
    position: absolute;
    background-color: #1f1f1f;
    border-radius: var(--border-radius);
    border: 1px solid #3f3f3f;
    z-index: 1000;
    min-width: max-content;
}

.submenu-container {
    position: relative;
    height: 100%;
    width: 1px;
}

.menu-item {
    padding: 8px 16px;
    flex: 1;
    opacity: 60%;
    justify-content: space-between;
    min-width: 4rem;
}

.menu-item:hover {
    background-color: #2f2f2f;
    opacity: 100%;
    cursor: pointer;
}