.menu {
    position: absolute;
    background-color: #1f1f1f;
    border: 2px solid #373737;
    border-radius: var(--border-radius);
    z-index: 1000;
    min-width: fit-content;
}
.menu-item {
    position: relative;
    padding: 8px 16px;
    opacity: 75%;
    min-width: fit-content;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: #2f2f2f;
    opacity: 100%;
    cursor: pointer;
}