.project-list-view {
    padding: 16px 32px;
    gap: 16px;
}

/* Status Styling */

.project-status {
    gap: 8px;
}

.project-status-header, .project-status-items {
    padding: 8px 0;
    gap: 8px;
}

.expandStatusBtn, .newTaskBtn {
    opacity: 50%;
    align-items: center;
    gap: 4px;
}

.expandStatusBtn:hover, .newTaskBtn:hover {
    opacity: 100%;
}

.status-descriptors {
    padding-right: 16px;
    align-items: center;
    justify-content: end;
    flex: 1;
    gap: 16px;
    opacity: 50%;
}

.status-descriptors h6 {
    width: 6rem;
    text-align: center;
}

/* Task Styling */

.project-listTask {
    padding: 8px 16px;
    gap: 16px;
    background-color: #1f1f1f;
    border-radius: var(--border-radius);
    flex: 1;
    align-items: center;
}

.project-listTask:hover {
    cursor: pointer;
}

.project-task-selector {
    width: .65rem;
    height: .65rem;
    border: 2px solid #f0f0f080;
    border-radius: var(--border-radius);
}

.project-listTask p {
    flex: 1;
}

.project-listTask-info {
    gap: 16px;
}

.project-listTask-info p {
    width: 6rem;
    text-align: center;
}

/* New Task element Styling */

.project-listTask-new {
    gap: 16px;
    width: 100%;
}

#taskNameInput {
    flex: 1;
}

#taskPrioritySelect {
    background: none;
    color: inherit;
    outline: none;
    border: none;
    width: 6rem;
    box-sizing: border-box;
    display: grid;
}

#taskPrioritySelect::after {
    content: "";
    width: .8rem;
    height: .5rem;
    background-color: var(--color-text);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}