.project-board-view {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
    gap: 16px;
}

.project-board-header {
    justify-content: space-between;
}

.project-board-statuses {
    height: 100%;
    overflow-x: auto;
}

.project-board-status {
    padding: 0 16px;
    min-width: 356px;
    width: 356px;
    height: 100%;
    gap: 8px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.project-board-status-header {
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: calc(var(--border-radius) * 2);
    background-color: #1f1f1f;
}

.project-board-status-taskCount {
    flex: 1;
    opacity: 50%;
}

.project-board-status-items {
    gap: 8px;
    overflow: hidden;
    padding: 16px 8px 32px 8px;
    min-height: 32px;
    border-radius: var(--border-radius);
}

.project-board-status-addNewBtn {
    padding: 8px 0;
    justify-content: center;
    background-color: #373737;
}

.project-board-status-addNewBtn:hover {
    background-color: #474747;
}

.project-board-task {
    gap: 32px;
    padding: 8px 16px;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.project-board-task:hover {
    background-color: #171717;
}

.project-board-task-header {
    align-items: center;
    gap: 16px;
}

.project-board-task-name {
    flex: 1;
}