.task-modal {
    gap: 16px;
    min-width: 384px;
}

.task-modal label {
    min-width: 4rem;
}

.tm-header {
    align-items: center;
}

.tm-header {
    justify-content: space-between;
}

.tm-location {
    opacity: 50%;
}

.tm-name {
    width: 100%;
    align-items: start;
    gap: 8px;
}

.tm-name input {
    width: 100%;
    box-sizing: border-box;
}

.tm-status {
    gap: 16px;
    padding: 0 8px;
}

.tm-actions {
    flex: 1;
    justify-content: end;
}

.tm-saveTask {
    background-color: var(--color-primary);
    padding: 8px 16px;
}