.status-modal {
    gap: 16px;
    min-width: 384px;
}

.sm-header {
    align-items: center;
    justify-content: end;
}

.sm-name, sm-color {
    align-items: center;
}

.sm-name {
    gap: 16px;
}

.sm-color {
    gap: 32px;
    padding: 8px;
    align-items: center;
}

.sm-actions {
    justify-content: end;
}

.sm-saveStatus {
    background-color: var(--color-primary);
    padding: 8px 16px;
    opacity: 50%;
}

.sm-saveStatus:hover {
    opacity: 100%;
}