:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;

  --border-radius: 4px;
  --color-primary: #0052E7;
  --color-secondary: #27DEEA;
  --color-compliment: #EA6D27;
  --color-error: #EB002A;
  --color-success: #1DBA53;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 600;
}

h6 {
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

p {
  font-size: .875rem;
  font-weight: 600;
  color: var(--color-text);
}

p.small {
  font-size: .75rem;
  color: var(--color-text);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

::placeholder {
  color: var(--color-text);
  opacity: 50%;
}

::-moz-placeholder {
  color: var(--color-text);
  opacity: 50%;
}

::-webkit-input-placeholder {
  color: var(--color-text);
  opacity: 50%;
}

ol, ul {
  margin: 0;
}

main {
  height: 100%;
}

#root {
  height: 100%;
}

.app-content {
  box-sizing: border-box;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #272727;
    --color-text: #FFF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #FFF;
    --color-text: #000;
  }
}